In [66]:
import yfinance as yf
aapl_data = yf.download('9001.T', start='2024-10-01', interval='1d')
# aapl_data.columns = aapl_data.columns.get_level_values(0)

# Afficher les colonnes aplaties pour vérification
print(aapl_data.columns)

# Afficher les premières lignes du DataFrame pour vérifier le résultat
display(aapl_data.head(20))

[*********************100%***********************]  1 of 1 completed

MultiIndex([('Adj Close', '9001.T'),
            (    'Close', '9001.T'),
            (     'High', '9001.T'),
            (      'Low', '9001.T'),
            (     'Open', '9001.T'),
            (   'Volume', '9001.T')],
           names=['Price', 'Ticker'])

Price                     Adj Close   Close    High     Low    Open   Volume
Ticker                       9001.T  9001.T  9001.T  9001.T  9001.T   9001.T
Date
2024-10-01 00:00:00+00:00    2530.0  2530.0  2530.0  2500.5  2525.0   668600
2024-10-02 00:00:00+00:00    2503.0  2503.0  2529.5  2490.5  2513.5   580300
2024-10-03 00:00:00+00:00    2541.0  2541.0  2571.5  2528.0  2532.0   851900
2024-10-04 00:00:00+00:00    2537.0  2537.0  2552.0  2523.5  2543.0   510700
2024-10-07 00:00:00+00:00    2542.0  2542.0  2559.5  2535.5  2551.0   511500
2024-10-08 00:00:00+00:00    2512.0  2512.0  2517.5  2489.5  2514.0   776600
2024-10-09 00:00:00+00:00    2511.0  2511.0  2529.5  2495.0  2523.0   444400
2024-10-10 00:00:00+00:00    2528.0  2528.0  2562.5  2516.0  2529.0   508400
2024-10-11 00:00:00+00:00    2466.0  2466.0  2512.5  2463.0  2512.0  1013100
2024-10-15 00:00:00+00:00    2517.5  2517.5  2519.0  2471.0  2475.5   892300
2024-10-16 00:00:00+00:00    2481.5  2481.5  2529.0  2478.0  2500.0   602500
2024-10-17 00:00:00+00:00    2466.0  2466.0  2490.5  2464.0  2484.0   630000
2024-10-18 00:00:00+00:00    2461.0  2461.0  2478.5  2456.5  2468.0   608900
2024-10-21 00:00:00+00:00    2462.0  2462.0  2477.0  2435.5  2461.0   707500
2024-10-22 00:00:00+00:00    2449.0  2449.0  2463.5  2423.0  2456.0   706300
2024-10-23 00:00:00+00:00    2438.0  2438.0  2472.5  2427.0  2459.0   501100
2024-10-24 00:00:00+00:00    2408.0  2408.0  2425.0  2400.5  2420.5   620200

In [43]:
	
import yahoo_fin.stock_info as si

""" pull historical data for Netflix (NFLX) """
nflx = si.get_data("NFLX")

nasdaq_ticker_list = si.tickers_nasdaq()

# """ get list of all stocks currently in the S&P 500 """
sp500_ticker_list = si.tickers_sp500()

# """ get other tickers not in NASDAQ (based off nasdaq.com)"""
other_tickers = si.tickers_other()

## Binance API

In [4]:
from API.binance_api import BinanceApi
import pandas as pd

df = pd.read_excel("data/crypto_data.xlsx")
tickers_list  = list(df['Ticker'].values)[:3]
print(tickers_list)

binance_reader = BinanceApi()
binance_data = binance_reader.get_data(ticker_list= tickers_list, frequence = "M", colums_select = ['Close time','Close'])
print(binance_data)

['BTCUSDT', 'ETHUSDT', 'SOLUSDT']
                Close time       BTC      ETH     SOL
0  2019-01-31 23:59:59.999   3434.10   106.44     NaN
1  2019-02-28 23:59:59.999   3813.69   135.34     NaN
2  2019-03-31 23:59:59.999   4103.95   141.38     NaN
3  2019-04-30 23:59:59.999   5320.81   161.83     NaN
4  2019-05-31 23:59:59.999   8555.00   267.90     NaN
..                     ...       ...      ...     ...
56 2023-09-30 23:59:59.999  26962.56  1670.89   21.37
57 2023-10-31 23:59:59.999  34639.77  1814.67   38.40
58 2023-11-30 23:59:59.999  37723.96  2051.96   59.30
59 2023-12-31 23:59:59.999  42283.58  2281.87  101.72
60 2024-01-31 23:59:59.999  42580.00  2283.14   96.96

[61 rows x 4 columns]