## Yahoo API

In [3]:
from apis.yahoo_api import YahooFinanceApi
import pandas as pd
df = pd.read_excel("data/cac40.xlsx")
tickers_list = list(df['Ticker'].unique())
print(tickers_list)
yf = YahooFinanceApi()
data = yf.get_data(ticker_list=tickers_list)

[************          25%                       ]  10 of 40 completed

['OR.PA', 'DG.PA', 'STLAP.PA', 'TTE.PA', 'AI.PA', 'DSY.PA', 'CS.PA', 'ERF.PA', 'BNP.PA', 'BN.PA', 'CAP.PA', 'CA.PA', 'SGO.PA', 'AC.PA', 'EL.PA', 'VIV.PA', 'MC.PA', 'ML.PA', 'EDEN.PA', 'KER.PA', 'PUB.PA', 'RNO.PA', 'SAF.PA', 'HO.PA', 'TEP.PA', 'RMS.PA', 'ENGI.PA', 'ORA.PA', 'MTS.MC', 'EN.PA', 'VIE.PA', 'SAN.PA', 'GLE.PA', 'SU.PA', 'AIR.PA', 'LR.PA', 'URW.PA', 'ACA.PA', 'RI.PA', 'STMPA.PA']

[*********************100%***********************]  40 of 40 completed

In [4]:
data

,Date,AC.PA,ACA.PA,AI.PA,AIR.PA,BN.PA,BNP.PA,CA.PA,CAP.PA,CS.PA,...,SAN.PA,SGO.PA,STLAP.PA,STMPA.PA,SU.PA,TEP.PA,TTE.PA,URW.PA,VIE.PA,VIV.PA
0,2023-10-01 00:00:00+00:00,29.181379,10.627567,144.448181,125.508118,54.166904,50.864292,15.696410,163.805573,26.336079,...,82.283989,50.045330,16.481611,35.664803,142.844803,104.319481,60.178574,45.193073,24.753750,8.241076
1,2023-11-01 00:00:00+00:00,30.869959,11.229093,155.276443,135.367477,56.887310,54.124702,16.467978,184.957642,26.939014,...,82.053558,58.233681,18.632608,43.074326,166.136642,123.996948,59.283508,56.544613,27.705416,8.465229
2,2023-12-01 00:00:00+00:00,33.577507,12.004350,157.349182,138.925598,56.607548,58.640560,15.682210,185.695496,27.782185,...,86.182159,64.903152,19.792349,44.848644,179.102829,127.372978,58.655064,64.816124,27.369999,9.430066
3,2024-01-01 00:00:00+00:00,35.615452,12.434011,155.169250,146.896576,59.559479,58.603085,14.976912,203.846924,29.355471,...,89.638664,64.104752,19.179249,40.611477,180.206329,140.491272,57.226772,64.874245,29.008749,10.189267
4,2024-02-01 00:00:00+00:00,38.905270,11.694247,167.873672,152.005157,56.935543,51.885513,14.702367,221.063721,30.975864,...,84.386696,69.323486,22.586397,41.415466,206.710159,110.492805,56.852814,65.455376,27.456249,10.067444
5,2024-03-01 00:00:00+00:00,42.020409,12.904769,172.287186,169.676483,57.774815,61.704224,15.028981,209.848221,32.798801,...,87.334328,70.034256,24.640984,39.623859,206.562363,86.889496,61.170502,72.157822,28.874582,9.843290
6,2024-04-01 00:00:00+00:00,40.089218,13.590359,164.282120,153.734512,56.588257,63.343800,14.948511,194.697418,30.561344,...,89.369827,72.692307,19.544300,37.419968,211.932114,82.452423,66.874626,76.012695,27.973749,9.322863
7,2024-05-01 00:00:00+00:00,38.711182,13.940625,161.226639,155.899994,57.032009,63.428116,14.191145,182.596481,33.049999,...,86.182159,78.456284,20.225000,37.628712,224.100220,100.702301,65.334152,78.124161,29.420834,10.100000
8,2024-06-01 00:00:00+00:00,37.168167,12.740000,161.279999,128.259995,57.080002,59.529999,13.200000,185.699997,30.570000,...,89.940002,70.706070,18.476000,36.644634,224.300003,98.339996,60.771191,73.519997,27.920000,9.756000
9,2024-07-01 00:00:00+00:00,35.570000,14.030000,168.779999,139.960007,60.160000,63.459999,13.800000,183.600006,32.490002,...,95.330002,79.440002,15.408000,30.489264,222.850006,119.199997,61.692768,69.300003,29.040001,9.872000
10,2024-08-01 00:00:00+00:00,38.070000,14.155000,168.720001,138.820007,62.799999,62.580002,14.580000,187.500000,34.400002,...,101.199997,79.080002,15.142000,28.665886,229.699997,98.860001,61.406422,72.459999,29.940001,10.145000
11,2024-09-01 00:00:00+00:00,39.000000,13.725000,173.259995,131.220001,65.339996,61.549999,15.310000,193.949997,34.529999,...,102.900002,81.720001,12.402000,26.553558,236.199997,93.000000,57.762917,78.599998,29.520000,10.380000

## Binance API

In [3]:
from apis.binance_api import BinanceApi
import pandas as pd

df = pd.read_excel("data/crypto_data.xlsx")
tickers_list  = list(df['Ticker'].values)[:3]
print(tickers_list)

binance_reader = BinanceApi()
binance_data = binance_reader.get_data(ticker_list= tickers_list, frequence = "D", colums_select = ['Close time','Close'])
print(binance_data)

['BTCUSDT', 'ETHUSDT', 'SOLUSDT']
                  Close time       BTC      ETH     SOL
0    2019-01-01 23:59:59.999   3797.14   139.10     NaN
1    2019-01-02 23:59:59.999   3858.56   152.01     NaN
2    2019-01-03 23:59:59.999   3766.78   146.30     NaN
3    2019-01-04 23:59:59.999   3792.01   151.97     NaN
4    2019-01-05 23:59:59.999   3770.96   152.83     NaN
...                      ...       ...      ...     ...
1822 2023-12-28 23:59:59.999  42563.76  2344.15  101.80
1823 2023-12-29 23:59:59.999  42066.95  2299.20  106.17
1824 2023-12-30 23:59:59.999  42140.28  2291.68  101.90
1825 2023-12-31 23:59:59.999  42283.58  2281.87  101.72
1826 2024-01-01 23:59:59.999  44179.55  2352.04  109.91

[1827 rows x 4 columns]